*{
    padding: 0;
    margin: 0;
}
body{
    text-align: center;
    background-color: #b09e99;
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 10vmin;
    color: black;
    background-color: #fae9e1;
}
#reset-btn{
    font-size: 1.25rem;
    border-radius: 1rem;
    padding: 1rem;
    background-color: #64b6a6;
    color: black;
    border: none;
    font-weight: 600;
}
#new-btn{
    margin-top: 1rem;
    padding: 1rem;
    font-size: 1.25rem;
    border-radius: 1rem;
    padding: 1rem;
    background-color: #64b6a6;
    color: black;
    border: none;
    font-weight: 600;
}

#msg{
    font-size: 5vmin;
}
.msg-container{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}
.hide{
    display: none;
}
